$headerHeight: 55px;

$main-color: #20b2aa;

$fontColor: #080708;
$fontColor-white: #ffffff;
$fontColor-title: #C03221;

$bg-color-btn: #C03221;
$bg: #2C3836;
$bgc-2: #f9f9f9;
$bgc-3: #2c3836;
$bg-color-2: #EDF1F9;
$sky: #48a9e0;

$shadow: 0 0 13px -1px rgba(0, 0, 0, 0.17);

$transition: .3s all ease;