@font-face {
  font-family: 'Bebas Neue';
  src: local('BebasNeueRegular'),
  local('BebasNeueRegular'),
  url('/assets/fonts/bebasneue/BebasNeueRegular.woff2') format('woff2'),
  url('/assets/fonts/bebasneue/BebasNeueRegular.woff') format('woff'),
  url('/assets/fonts/bebasneue/BebasNeueRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('BebasNeueBold'),
  local('BebasNeueBold'),
  url('/assets/fonts/bebasneue/BebasNeueBold.woff2') format('woff2'),
  url('/assets/fonts/bebasneue/BebasNeueBold.woff') format('woff'),
  url('/assets/fonts/bebasneue/BebasNeueBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
  local('Montserrat'),
  url('/assets/fonts/Montserrat/Montserrat.woff2') format('woff2'),
  url('/assets/fonts/Montserrat/Montserrat.woff') format('woff'),
  url('/assets/fonts/Montserrat/Montserrat.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



