.index__news.container
		h2.text__title НОВОСТИ И АКЦИИ
		ul.index__news--list
			li.index__news--item
				+picture('/index/news/','01')
				p.index__news--desc Апрельский чемпионат по FIFA!
				p.index__news--date 11.04.2019
		a.index__news--btn.btn(href='/news') Смотреть все новости
