footer.footer
  .footer__wrap.container
    .footer__column.footer__column--contact
      +svg('rotonda').footer__logo
      ul.footer__contact-list
        li.footer__contact-item
          p Время работы с 11:00 до 00:00
        li.footer__contact-item.footer__contact-item--tel
          a(href='tel:+79891666560') +79891666560
        li.footer__contact-item
          p ПГТ Красная Поляна
            br
            | ул. Калиновая, д. 18
    .footer__column.footer__column--social
      include ../blocks/social
    .footer__column.footer__column--location
      iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3Aaee41fd2358c30e9dea950c43b7ba25b7114c8cf72c0dfef3412c4b26ff21d7f&source=constructor', width='100%', height='200', frameborder='0')
