extend common/mainLayout

block content
	.container
		h1.pool__title Открытый подогреваемый бассейн КО "Беларусь"
		p.pool__desc Бассейн расположен в живописном месте! Его легко найти за 4 корпусом комплекса отдыха "Беларусь".
		p.pool__desc Ежедневно, независимо от времени года и погоды, с 9:00 до 21:00 бассейн открыт для посещения!
		p.pool__desc Купаться в теплом бассейне зимой, когда идет снег? Или попивать прохладительные напитки летом, любуясь величием кавказских гор? Как минимум только из-за этого стоит приехать в Красную Поляну!
	ul.pool__advantages-list
			li.pool__advantages-item
				+svg('peaks')
				.pool__advantages-item-container
					h3 Потрясающий вид
					p Отличная локация для селфи на фоне гор!
			li.pool__advantages-item
				+svg('family')
				.pool__advantages-item-container
					h3 Подходит для семейного отдыха
					p Идеальное место для отдыха всей семьей!
			li.pool__advantages-item
				+svg('disc')
				.pool__advantages-item-container
					h3 Лучшая цена красной поляны
					p И это факт! От 400 руб. за целый день посещения!
			li.pool__advantages-item
				+svg('child')
				.pool__advantages-item-container
					h3 Игровая зона и детский бассейн
					p
						| Вашим детям не будет скучно!
						br
						| Бассейн, Батут, Игровая зона! Все что надо вашему ребенку!
			li.pool__advantages-item
				+svg('parking')
				.pool__advantages-item-container
					h3 Бесплатная парковка
					p Машину можно оставить на территории комплекса. Абсолютно бесплатно! На целый день!
			li.pool__advantages-item
				+svg('bar')
				.pool__advantages-item-container
					h3 Гастробар у бассейна
					p Ресторанное меню с демократичными ценами!
			li.pool__advantages-item
				+svg('dj')
				.pool__advantages-item-container
					h3 Дневные dj pool party
					p Непринужденная музыка от местных диджеев, выступление кавер-групп и приглашенных музыкантов.
			li.pool__advantages-item
				+svg('water')
				.pool__advantages-item-container
					h3 Комфортная температура воды
					p Летом - прохладно, зимой - тепло!
			li.pool__advantages-item
				+svg('help')
				.pool__advantages-item-container
					h3 Безопасность
					p Ежедневно дежурят матросы-спасатели!


	.pool__rules
			h2.pool__rules-title Правила посещения открытого бассейна КО "Беларусь"
			p.pool__rules-desc
				| За соблюдением этих правил на бассейне следят матросы-спасатели.
				br
				| Дабы ни у кого не возникло вопросов вот самые главные из них.
			ul.pool__rules-list
				li.pool__rules-item
					P Не забудьте документ удостоверяющий личность! Его попросят охранники при входе. У нас отдыхает президент республики Беларусь, поэтому все серьезно :-)
				li.pool__rules-item
					P Приходите без домашних любимцев, с ними на территорию комплекса не пустят!
				li.pool__rules-item
					P Используйте пластиковую, металическую, деревяную... неважно какую тару у бассейна, главное не стекло! Впрочем у нас всегда найдется куда налить вам напиток. Обращайтесь.
				li.pool__rules-item
					p Если вы не проживаете на территории комплекса, вам придется оплатить посещение бассейна. Делается это в 4-ом корпусе, на ресепшене. Для постояльцев оплата не требуется.
				li.pool__rules-item
					p Матросы-спасатели, охранники и еще пару человек начинают переживать, когда кто-то прыгает в бассейн! Их можно понять. Грациозный полет, на наших глазах, не раз заканчивался неуспев начаться. Лучше воздержаться от прыжков.
				li.pool__rules-item
					p Если вы ушли в крутое пике и сильно перебрали, скорее всего ваш отдых будет окончен. Об этом позаботятся блюстители порядка в лице охраны комплекса. Мы так же не приветствуем сильно пьяных гостей.